# Backend
/backend/vendor/
/backend/.env
/backend/database.sqlite
/backend/clash-of-clans-data/assets/

# Frontend
/frontend/node_modules/
/frontend/.env
/frontend/dist/

# Sistema
.DS_Store
Thumbs.db
*.log

# Outros
.env
